h1 {
 font-size: 50px;
 font-family: Verdana;
 color: white;
 text-align: center;
 font-weight: Normal;
}

body {
    text-align: center;
    background-color: black;
}

video {
    object-fit: contain;
}

.cta {
    color: Aquamarine;
    font-size: 16px;
}

h2 {
 font-size: 42px;
 color: white;
 text-align: center;
 font-family: Verdana;
 font-weight: 300;
}

.subtext {
 font-family: Verdana;
 font-size: 21px;
 color: gray;
}

footer {
  color: gray;
  text-align: right;
}
