h1 {
 font-size: 80px;
 color: white;
 text-align: center;
}

body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

video {
    object-fit: contain;
}

.cta {
    color: Aquamarine;
    font-size: 16px;
}

h1 {
 font-size: 40px;
 color: white;
 text-align: center;
}
